@import "tailwindcss";

@theme {
  --default-dark-mode: selector;
}

/* Remove the vertical scrollbar from the right side of the website globally */
html,
body,
#root {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari and Opera */
}
